<h1><%= document_index_title %></h1>

<div class="card-columns">
  <% @documents.each_slice(3) do |documents_row| %>
    <div class="row">
      <% 3.times do |i| %>
        <div class="col">
          <% if documents_row[i] %>
            <%= render documents_row[i] %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
